  *{
    margin: 0;
    padding: 0;
    font-size:20px;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma;
  }

  body{
    background-color:#f5f3e8;
  }

  .Header{
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 15px;
  }

  .Header .logo img{
    height: 100px;
    width: auto;
  }

  .Header .nav-links{
    list-style-type: none;
  }

  .Header .ul-nav li{
    display: inline-block;
    padding: 0 30px;
    color: whitesmoke;
    font-weight: 900;
    padding:5px 5px;
    border-radius: 5px;
    border: white solid 2px;
     
  }
  .Header .ul-nav li:hover{
    background-color:crimson;
    padding:5px 5px;
    border-radius: 5px;
  }
  
  /* Botón */
  .Header .botom button{
    background-color:whitesmoke;
    border-radius: 8px;
    padding: 10px 15px;
    margin-right: 50px;
    border:black solid 2px;
  }

  /* Texto */
  h1{
    text-decoration: underline;
    margin-left: 5px;
    margin-top: 10px;
    font-size: larger;
  }

  p{
    font-size: large;
    margin-left: 5px;
  }

/* video */
video{
  height: 100%;
  margin-top: 3%;
  border-radius: 10px;
}
iframe{
border-radius: 10px;
}

.Video-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* audio */

audio{
  margin-top: 15px;
}

a{
  font-size: small;
  color: rgb(206, 203, 203);
}

  /* Footer */
  footer{
    background-color: #000000;
    color: whitesmoke;
    padding: 45px;
    margin-top: 20px;
    width: 100%;
    font-weight: bolder;
    text-align: center;
}

.